body
{
	background-color: #ecf0f1;
	font-family: arial;
}

code
{
	background-color: #fff;
	border-radius: 2px;
	box-shadow: inset 2px 2px 2px #c3c3c3;
	padding: 1px 4px;
}

#notifications-parent
{
	position: absolute;
	z-index: 90;
	top: 20px;
	right: 20px;
	width: 300px;
	overflow-wrap: break-word;
}

#notifications-parent > #notifications-container
{
	display: none;
	border-style: none;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px 0px;
}

#notifications-parent:hover > #notifications-container
{
	display: block;
}

#notifications-container > div
{
	border-style: none;
	border-radius: 5px;
	background-color: #ecf0f1;
	margin: 5px;
	padding: 10px 5px;
}

#notifications-container a
{
	text-decoration: None;
}

#messages-container
{
	max-width: 900px;
	max-height: 70vh;
	overflow-y: scroll;
	border-style: dashed;
	border-width: 2px;
	border-radius: 5px;
	border-color: #e67e22;
	margin: 5px 0px;
	padding: 5px 0px;
}

#messages-container > div
{
	overflow: auto;
}

#messages-container > div > div
{
	border-style: solid;
	border-color: transparent;
	border-width: 0px;
	border-radius: 5px;
	box-shadow: inset 3px 3px 5px #c3c3c3,
             inset -3px -3px 5px #fdfdfd;
	width: fit-content;
	max-width: 70%;
	margin: 10px;
	margin-top: 25px;
	margin-bottom: 20px;
	padding: 5px 10px;
	background-color: #fff;
}

#messages-container > div > div.self
{
	background-color: #a1e2d5;
}

.self
{
	text-align: right;
	float: right;
}

#messages-container > div > div > .content img
{
	max-height: 200px;
	width: auto;
	max-width: 80%;
}

#messages-container > div > div > .content .response
{
	display: block;
	background-color: #a1e2d5;
	text-decoration: none;
	border-style: none;
	border-radius: 5px;
	padding: 2px 5px;
}

#messages-container > div > div.self > .content .response
{
	background-color: #fff;
}

.react
{
	display: block;
}

.message-toolbar
{
	height: 0px;
}

div > .message-toolbar > *
{
	position: relative;
	display: none;
	margin: 0px 2px;
}

div:hover > .message-toolbar > *
{
	display: inline-block;
}

.pseudo-container
{
	height: 5px;
}

.pseudo
{
	position: relative;
	top: -25px;
	font-size: 1em;
}

.timestamp
{
	font-size: 0.5em;
}

#messageForm
{
	display: flex;
	flex-direction: row;
}

#messageForm > *
{
	margin: 0px 5px;
}

#messageForm > textarea
{
	width: 50vw;
}

#messageForm input[type="submit"]
{
	border-style: none;
	border-radius: 3px;
	box-shadow: 3px 3px 5px #c3c3c3,
             -3px -3px 5px #fdfdfd;
	background-color: #2ecc71;
}

#emojiPopup
{
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 100;
	max-width: 70vw;
	overflow-wrap: anywhere;
	max-height: 80vh;
	overflow-y: scroll;
}